<div class="attributes-grid">
  <div class="attribute-column">
    <!-- Content for attribute 1 -->
  </div>
  <div class="attribute-column">
    <!-- Content for attribute 2 -->
  </div>
  <div class="attribute-column">
    <!-- Content for attribute 3 -->
  </div>
</div>