<div class="skill-level">
    <h2>Skill Level</h2>
</div>

<ul class="skill-list">
    <li class="skill-item">Skill 1</li>
    <li class="skill-item">Skill 2</li>
    <li class="skill-item">Skill 3</li>
</ul>