<div class="combat-grid">

  <div class="attributes">
    
    {{> "systems/shadowworld/templates/actor/parts/attributes.hbs"}}
  </div>

  <div class="skills">
   
    {{> "systems/shadowworld/templates/actor/parts/skills.hbs"}}
  </div>
    
  <div class="equipment">
    <h3>Vybavení</h3>
    {{> "systems/shadowworld/templates/actor/parts/equipment.hbs"}}
  </div>

</div>