/* ========================= */
/* INVENTORY */
/* ========================= */

.shadowworld.sheet.actor .inventory {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* SECTIONS */
.shadowworld.sheet.actor .inventory-section {
  background: var(--bg-panel);
  border: 1px solid var(--gold);
  padding: 8px;
}

.shadowworld.sheet.actor .inventory-section h3 {
  margin-bottom: 6px;
  color: var(--gold);
}

.shadowworld.sheet.actor .inv-item[draggable="true"] {
  cursor: move;
}

.shadowworld.sheet.actor .inv-item.dragging {
  opacity: 0.6;
}

.shadowworld.sheet.actor .inv-item.drop-before {
  box-shadow: inset 0 3px 0 var(--gold);
}

.shadowworld.sheet.actor .inv-item.drop-after {
  box-shadow: inset 0 -3px 0 var(--gold);
}
