<h3>Armor</h3>

<label>Armor Level</label>
<input type="number" name="system.armor" value="{{system.armor}}">

<label>DEX Penalty</label>
<input type="number" name="system.dexPenalty" value="{{system.dexPenalty}}">