
<label>Damage</label>
<input type="text" name="system.damage" value="{{system.damage}}">

<label>Bonus</label>
<input type="number" name="system.bonus" value="{{system.bonus}}">

<label>Equipped</label>
<input type="checkbox" name="system.equipped" {{checked system.equipped}}>