<h2>HP</h2>

<div class="hp">

  <div class="hp-row">
    <label>Current</label>
    <input type="number"
           name="system.hp.current"
           value="{{system.hp.current}}">
  </div>

  <div class="hp-row">
    <label>Max</label>
    <input type="number"
           name="system.hp.max"
           value="{{system.hp.max}}">
  </div>

  <div class="hp-row">
    <label>Non-lethal</label>
    <input type="number"
           name="system.hp.nonLethal"
           value="{{system.hp.nonLethal}}">
  </div>

</div>